<div class="jumbotron">
  <h1 class="display-4"><%= t('hello') %></h1>
  <p class="lead"><%= t('welcome.hello_msg') %></p>
  <hr class="my-4">
  <p><%= t('welcome.call_to_action') %></p>
  <p class="lead">
    <%= link_to t("activerecord.models.coin.other"), coins_path, class:"btn btn-primary btn-lg" %>
    <%= link_to t("activerecord.models.mining_type.other"), mining_types_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>
